<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>  Employee Manager</title>
    
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
   <h1>Employee Manager Razor Pages</h1>
    <div>  @RenderBody() </div>
<br/>
<hr>
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Security" asp-action="SignOut" method="Post">
        <button type="submit">Sign Out</button>
        </form>
}
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
    
   
</body>
</html>
